@media (max-width: 992px) {
  .animate .svg-1 {
    max-width: 450px;
    display: block;
    margin: auto;
  }
}

.animate .svg-1 #circle {
  transform-box: fill-box;
  transform-origin: center;
  -webkit-animation: rotate-circle 10s ease-in-out infinite;
          animation: rotate-circle 10s ease-in-out infinite; }
.animate .svg-1 #hand {
  transform-box: fill-box;
  transform-origin: left;
  -webkit-animation: move-hand-1 1.5s ease-in-out infinite alternate;
          animation: move-hand-1 1.5s ease-in-out infinite alternate; }
.animate .svg-1 #hand-pen {
  transform-box: fill-box;
  transform-origin: right;
  -webkit-animation: move-hand-2 1.5s ease-in-out infinite alternate;
          animation: move-hand-2 1.5s ease-in-out infinite alternate; }
.animate .svg-1 #bar-1 {
  transform-box: fill-box;
  animation: bar 2s ease-in-out infinite reverse; }
.animate .svg-1 #bar-2 {
  transform-box: fill-box;
  animation: bar 2s ease-in-out infinite reverse; }
.animate .svg-1 #bar-3 {
  transform-box: fill-box;
  animation: bar 2s ease-in-out infinite reverse; }
.animate .svg-1 #bar-4 {
  transform-box: fill-box;
  animation: bar 2s ease-in-out infinite reverse; }

.animate .svg-2 #cloud-1 {
  transform-box: fill-box;
  transform-origin: center;
  -webkit-animation: move-cloud-1 40S ease-in infinite;
          animation: move-cloud-1 40S ease-in infinite;
}

.animate .svg-2 #cloud-2 {
  transform-box: fill-box;
  transform-origin: center;
  -webkit-animation: move-cloud-2 45s ease-in infinite;
          animation: move-cloud-2 45s ease-in infinite;
}

.animate .svg-2 #cloud-3 {
  transform-box: fill-box;
  transform-origin: center;
  -webkit-animation: move-cloud-3 75s ease infinite;
          animation: move-cloud-3 75s ease infinite;
}

.animate .svg-2 #cloud-4 {
  transform-box: fill-box;
  transform-origin: center;
  -webkit-animation: move-cloud-4 90s ease-in infinite;
          animation: move-cloud-4 90s ease-in infinite;
}

.animate .svg-2 #cloud-5 {
  transform-box: fill-box;
  transform-origin: center;
  -webkit-animation: move-cloud-5 70s ease-in infinite;
          animation: move-cloud-5 70s ease-in infinite;
}

.animate .svg-2 #marker-water {
  transform-box: fill-box;
  transform-origin: center;
  -webkit-animation: move-marker 1s ease-in alternate infinite;
          animation: move-marker 1s ease-in alternate infinite;
}

.animate .svg-2 #marker-food {
  transform-box: fill-box;
  transform-origin: center;
  -webkit-animation: move-marker 1s ease-in 0.4s alternate infinite;
          animation: move-marker 1s ease-in 0.4s alternate infinite;
}

.animate .svg-2 #marker-gender {
  transform-box: fill-box;
  transform-origin: center;
  -webkit-animation: move-marker 1s ease-in 0.7s alternate infinite;
          animation: move-marker 1s ease-in 0.7s alternate infinite;
}

.animate .svg-2 #marker-fish {
  transform-box: fill-box;
  transform-origin: center;
  -webkit-animation: move-marker 1s ease-in alternate infinite;
          animation: move-marker 1s ease-in alternate infinite;
}

.img-thumbnail {
  transition: .2s;
}

.img-thumbnail:hover {
  transition: 0.2s;
  padding: 0;
  border: 0;
  box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.10) !important;
}

div.bg-white {
  overflow: hidden;
}

@-webkit-keyframes rotate-circle {
  100% {
    transform: rotate(360deg); } }

@keyframes rotate-circle {
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes move-hand-1 {
  100% {
    transform: rotate(10deg); } }
@keyframes move-hand-1 {
  100% {
    transform: rotate(10deg); } }
@-webkit-keyframes move-hand-2 {
  100% {
    transform: rotate(3deg); } }
@keyframes move-hand-2 {
  100% {
    transform: rotate(3deg); } }
@-webkit-keyframes bar {
  0% {
    transform-origin: right;
    transform: scaleX(0); }
  33%, 40% {
    transform-origin: right;
    transform: scaleX(1); }
  80% {
    transform-origin: left;
    transform: scaleX(1); }
  100% {
    transform-origin: left;
    transform: scaleX(0); } }
@keyframes bar {
  0% {
    transform-origin: right;
    transform: scaleX(0); }
  33%, 40% {
    transform-origin: right;
    transform: scaleX(1); }
  80% {
    transform-origin: left;
    transform: scaleX(1); }
  100% {
    transform-origin: left;
    transform: scaleX(0); } }

@-webkit-keyframes move-marker {
  100% {
    transform: translateY(-7%);
  }
}

@keyframes move-marker {
  100% {
    transform: translateY(-7%);
  }
}

@-webkit-keyframes move-cloud-1 {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(100%);
  }
  11% {
    opacity: 0;
  }
  12% {
    transform: translateX(-600%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes move-cloud-1 {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(100%);
  }
  11% {
    opacity: 0;
  }
  12% {
    transform: translateX(-600%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@-webkit-keyframes move-cloud-2 {
  0% {
    transform: translateX(0%);
  }
  90% {
    transform: translateX(900%);
  }
  91% {
    opacity: 0.2;
  }
  91% {
    transform: translateX(-50%);
    opacity: 0;
  }
  93% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes move-cloud-2 {
  0% {
    transform: translateX(0%);
  }
  90% {
    transform: translateX(900%);
  }
  91% {
    opacity: 0.2;
  }
  91% {
    transform: translateX(-50%);
    opacity: 0;
  }
  93% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@-webkit-keyframes move-cloud-3 {
  0% {
    transform: translateX(0%);
  }
  90% {
    opacity: 0.4;
    transform: translateX(800%);
  }
  90.1% {
    transform: translateX(-300%);
    opacity: 0;
  }
  93% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes move-cloud-3 {
  0% {
    transform: translateX(0%);
  }
  90% {
    opacity: 0.4;
    transform: translateX(800%);
  }
  90.1% {
    transform: translateX(-300%);
    opacity: 0;
  }
  93% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@-webkit-keyframes move-cloud-4 {
  0% {
    transform: translateX(0%);
  }
  50% {
    opacity: 0.4;
    transform: translateX(300%);
  }
  50.01% {
    opacity: 0;
  }
  50.1% {
    transform: translateX(-700%);
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes move-cloud-4 {
  0% {
    transform: translateX(0%);
  }
  50% {
    opacity: 0.4;
    transform: translateX(300%);
  }
  50.01% {
    opacity: 0;
  }
  50.1% {
    transform: translateX(-700%);
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@-webkit-keyframes move-cloud-5 {
  0% {
    transform: translateX(0%);
  }
  80% {
    opacity: 0.5;
    transform: translateX(800%);
  }
  80.01% {
    opacity: 0;
  }
  80.1% {
    transform: translateX(-50%);
    opacity: 0;
  }
  83% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes move-cloud-5 {
  0% {
    transform: translateX(0%);
  }
  80% {
    opacity: 0.5;
    transform: translateX(800%);
  }
  80.01% {
    opacity: 0;
  }
  80.1% {
    transform: translateX(-50%);
    opacity: 0;
  }
  83% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@-webkit-keyframes blinkingText {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blinkingText {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

